@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --bg-color--: #000814;
  --text-color: #edf2fb;
  --secondary-color: #9db4c0c6;
  --tertiary-color: #a8b2d1;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  background: var(--bg-color--);
}

::selection {
  background: var(--text-color);
  color: #081427;
}

.container {
  display: flex;
  margin: 0px 7%;
}

.side {
  padding-top: 6rem;
  width: 100%;
  flex: 1 1 0%;
}

.side-content {
  color: var(--text-color);
  position: fixed;
  width: 40%;
}

.side-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.side-content h3 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.3em;
}

.side-content p {
  margin-top: 1rem;
  width: 60%;
  color: var(--secondary-color);
}

.side-content ul {
  margin-top: 5rem;
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.lines.active {
  width: 5rem;
  background-color: var(--text-color);
  transition: all 0.2s ease;
}

.lines {
  width: 30px;
  height: 1.5px;
  background-color: var(--secondary-color);
  transition: 0.2s ease;
}

.menu-text.active {
  color: var(--text-color);
  transition: all 0.2s ease 0s;
}

.menu:hover .menu-text {
  color: var(--text-color);
}
.menu:hover .lines {
  background-color: var(--text-color);
  width: 5rem;
  transition: all 0.2s ease;
}

.menu-text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Roboto Mono";
  transform: scaleY(0.9);
  letter-spacing: 2px;
  color: var(--secondary-color);
  transition: all 0.2s ease 0s;
}

.side-content ul {
  margin-top: 5rem;
  list-style: none;
}

.socials {
  display: inline-flex;
  justify-content: space-between;
}

.socials li {
  position: relative;
  margin-right: 30px;
  list-style: none;
}

.socials li i {
  font-size: 36px;
  color: var(--secondary-color);
  transition: all 0.2s ease;
}

.socials li i:hover {
  color: var(--text-color);
  cursor: pointer;
  transform: scale(115%);
  transition: 0.2s ease;
}

.face img {
  margin-top: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px var(--tertiary-color);
}

.main {
  width: 80%;
  color: var(--text-color);
  flex: 1 1 0%;
}

.about {
  padding-top: 7rem;
  font-weight: 300;
  font-size: 1rem;
  word-spacing: 2px;
  line-height: 1.5;
}

h2 {
  display: none;
  letter-spacing: 3px;
  font-size: 0.9rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  width: 90%;
  color: var(--tertiary-color);
}

span {
  color: var(--text-color);
}

.experience,
.projects {
  padding-top: 8rem;
  margin: 0px;
}

.experience table,
.projects table {
  padding-bottom: 2rem;
}

.experience #pad,
.projects #pad {
  text-align: left;
  padding-right: 20px;
  width: 100px;
}

.experience .col1,
.projects .col1 {
  letter-spacing: 2px;
  font-size: 0.7rem;
  color: var(--secondary-color);
  font-weight: 500;
}

.experience .col2,
.projects .col2 {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 10px;
  text-align: left;
}

.projects .col2 {
  padding-bottom: 10px;
}

.experience p,
.projects p {
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  padding-left: 10px;
}

table:hover {
  transform: scale(1.03);
}
table {
  transition: transform 0.2s ease-in;
}

.footer {
  margin: 10rem 0px;
}

.footer p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.experience_phone {
  display: none;
}

.projects_phone {
  display: none;
}

.projects a:hover {
  font-weight: bold;
}
.projects a {
  color: var(--text-color);
  transition: 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .container {
    display: block;
    margin: 0px;
  }
  .side {
    position: relative;
    padding: 3rem;
  }
  .side-content {
    position: relative;
    width: 100%;
  }
  .side-content p {
    width: 40%;
  }
  .side-content .nav {
    display: none;
  }
  .side-content .socials {
    margin-top: 2rem;
  }
  .side-content .face {
    display: none;
  }
  .face img {
    width: 150px;
    height: 150px;
  }
  .main {
    width: 100%;
  }
  .about {
    padding-top: 4rem;
  }
  .about h2 {
    margin-bottom: 20px;
  }
  h2 {
    display: flex;
    position: sticky;
    top: 0px;
    width: 100vw;
    padding: 1.5rem 3rem;
    background: var(--bg-color--);
  }
  p {
    width: 100%;
  }
  .about p {
    padding: 0px 3rem;
  }
  .experience .content {
    padding: 0px 3rem;
  }
  .experience p,
  .experience .col2 {
    padding-left: 50px;
  }
  .projects .content {
    padding: 0px 3rem;
  }

  .projects p,
  .projects .col2 {
    padding-left: 50px;
  }

  .footer {
    padding: 0px 3rem;
  }
}

@media screen and (max-width: 512px) {
  .experience {
    display: none;
  }
  .projects {
    display: none;
  }
  .experience_phone {
    display: contents;
  }
  .projects_phone {
    display: contents;
  }
  .about h2 {
    padding: 0px 3rem;
  }
  .about p {
    padding-bottom: 5rem;
  }
  .experience_phone .content {
    padding: 0px 3rem 4rem;
  }
  h2 {
    padding: 0px 0px 0.5rem 0px;
    position: relative;
  }

  h5 {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
  }
  h6 {
    letter-spacing: 2px;
    font-size: 0.5rem;
    color: var(--secondary-color);
    font-weight: 500;
  }
  .desc {
    padding: 1rem 0px 1rem 0px;
  }
  p {
    padding-top: 10px;
    font-size: 0.7rem;
  }
  .projects_phone .content {
    padding: 0px 3rem;
  }
  .footer p {
    padding-top: 10px;
    font-size: 0.7rem;
  }
  .footer {
    margin: 60px 0px;
  }
  a:hover {
    font-weight: bolder;
  }
  a {
    color: var(--text-color);
    transition: 0.2s ease;
  }
}
